.jumbotron, .container, .container2{
  background-color: rgb(37, 35, 124);
  color: blue;
  
}
.jumbotron2{
  background-color: rgb(37, 35, 124);
  color: white;
}
.form-control{
  margin: 5px;

}

.textarea {
  height: 200px;
}

html {
  font-size: 1em;
}

h3{
  margin-top: 60px;
  margin-bottom: 20px;
  width: 500px;
  height: 40px;
  margin-left: 250px;
}
#interest-tbl{
  background-color: white;
}


/*CACULATOR*/

.entry{
  width:  265px;
  height:  50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold;

}

.calcl-container{
  width: 300px;
  background-color: turquoise;
  border-radius: 20px;
  padding: 30px;
  margin-left: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.numBut{
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
}
.mathBut{
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
}
.equalBut{
  height: 59px;
  width: 126px;
  margin: 10px 4px;
  border: none !important;
}

/*JSON CANVAS LOG */

#canvas{
  margin: 10px;
  padding: 10px;
  background: #ffffff;
  border: thin inset #000000;
}

#json-data{
  margin: 10px;
  padding: 10px;
  width: 620px;
  height: 200px;
  background: #ffffff;
  border: thin inset #ffffff;
}
.mybut{
  margin: 10px;
  padding: 10px;
  width: 620px;
}

/* M A P */
.wrapper{
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding: 10px;
}
.wrapper-2{
  max-width: 500px;
  margin-top: 20px;
  margin-left: 270px;
 
}

#my-canvas{
  background-color: white;
  margin-bottom: 30px;
}

.cust-but{
  background-color: #333cf3;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
}
.container-1, .container-2, .container-3, .container-4, .container-5{
  border: 1px solid white;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
  display: flex;  
  border: 1px solid black;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-blackjack-row-1, .flex-blackjack-row-2{
  background-image: url("/blackjack_assets/images/table.png");
  color: blueviolet;
}
.flex-blackjack-row-1 div{
  border: 1px solid black;
  padding: 10px;
  flex: 1;
  text-align: center;
  height: 650px;
}
.flex-blackjack-row-1 img{
  width: 25%;
  padding: 10px;
}
.flex-blackjack-row-2 button{
  border: 1px solid black;
  padding: 10px;
  width: 100px;
}
.flex-blackjack-row-2 div{
  border: 1px solid black;
  padding: 10px;
}
table, th{
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.flex-box-container-1 div{
  border: 1px solid black;
  display: flex;
  padding: 10px;
  align-items: center;
}

/*  CHALENGE 2 */
.flex-box-container-2 img{
  margin: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.7);
}

/*  CHALENGE 3 */
.flex-box-rps img:hover{
  box-shadow: 0px 10px 50px rgb(37, 50, 233,1);
}
